@use './functions/range';

input,
textarea,
select {
    width: 100%;
    height: var(--field-size);
    border-radius: var(--field-radius);
    background-color: var(--field-bg-color);
    padding: 10px 0 0;
    font-size: var(--field-fs);
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--field-border-color);
    transition: var(--transition);
    transition-property: border-color;
    font-weight: normal;

    &:hover,
    &:focus {
        border-color: var(--color-interaction-primary-hover);
    }
}

textarea {
    height: 160px;
    padding: .5em var(--field-px);
}

::placeholder {
    color: rgba(var(--color-font-secondary), .5);
}

.form-control {
    display: block;
    position: relative;

    &-placeholder {
        display: flex;
        align-items: center;
        height: var(--field-size);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 var(--field-px);
        transition: var(--transition);
        transition-property: padding-bottom, font-size, color;
        pointer-events: none;
        font-weight: normal;

        sup {
            color: var(--color-red);
            font-size: 1.25em;
            margin-left: .25em;
        }
    }
}

input,
textarea,
select {
    &.is-filled,
    &:focus {
        & ~ .form-control-placeholder {
            font-size: range.build(11, 13);
            padding-bottom: calc(var(--field-size) - 1em);
            color: var(--color-gray);
            font-weight: 300;
        }
    }
}
