@use './functions/range';

.form {
    display: flex;
    flex-direction: column;
    gap: range.build(26, 30);
    position: relative;

    &::before {
        display: block;
        content: '';
        width: calc(100% + 24px);
        height: calc(100% + 24px);
        position: absolute;
        top: -12px;
        inset-inline-start: -12px;
        transition: var(--transition);
        transition-property: opacity, visibility;
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(6px);
        pointer-events: none;
        z-index: 10;
    }

    &::after {
        display: block;
        content: '';
        width: range.build(60, 80);
        aspect-ratio: 1;
        background-color: var(--color-dark);
        mask-image: var(--icon-pulse-rings);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        position: absolute;
        top: 50%;
        inset-inline-start: 50%;
        translate: -50% -50%;
        transition: var(--transition);
        transition-property: opacity, visibility;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 15;
    }

    &-errors {
        color: var(--color-red);

        &:is(:empty) {
            display: none;
        }
    }

    .btn-submit {
        margin-inline-end: auto;
    }

    &.sending {
        pointer-events: none;

        &::before,
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-row {
        --col-count: 1;
        --col-gap: 14px;

        display: grid;
        grid-template-columns: repeat(var(--col-count), calc((100% - var(--col-gap) * (var(--col-count) - 1)) / var(--col-count)));
        gap: var(--col-gap);

        @media (min-width: 600px) {
            --col-count: 2;
        }
    }
}

.form-info {
    font-size: range.build(12, 14);
    color: var(--color-gray);

    a {
        color: inherit;
        transition: var(--transition);
        transition-property: color, text-decoration-color;
        text-underline-offset: .15em;

        &:hover {
            color: var(--color-interaction-primary-default);
            text-decoration-color: var(--color-interaction-primary-default);
        }
    }
}