@use "base";

@use "sass:map";
@use "functions/range";
@use "mixins/colors";

$colors: (
    white: #FFFFFF,
    50-sand-matte: #f7f4f2,
    black: #000000,
    dark: #2A2C33,
    gray: #727580,
    gray-light: #E7E5E4,
    gray-medium: #D1D2D6,
    line: #EEE6CF,
    border: #E3E3E3,
    gold-lighter: #D9B48D,
    gold: #CEAE87,
    red: #FF2F2F,
    green: #107c10,
    primary-brand-50-lightest: #F5FCFC,
    primary-brand-100-lighter: #D9FFFF,
    primary-brand-200-light: #B2FFFF,
    primary-brand-300-regular: #80FFFF,
    primary-brand-400-medium: #6CD9D9,
    primary-brand-500-main: #00BFBF,
    primary-brand-600-stronger: #08A389,
    primary-brand-700-strongest: #148572,
    primary-brand-800-dark: #1B594F,
    primary-brand-900-darker-silent: #134038,
    primary-brand-950-darkest: #0B2622,
);

:root {
    @each $key, $value in $colors {
        @include colors.color("color-#{$key}", $value);
    }

    --font-primary: "Nice-Variable",
    sans-serif;
    --font-secondary: "Pangea-Variable",
    serif;

    --font-primary-settings: 'opsz' 6,
    'MONO' 1;
    --font-secondary-settings: 'ss01' 1,
    'APRT' 100,
    'Xtdr' 0,
    'Grad' 0,
    'opsz' 50;

    --color-interaction-primary-default: var(--color-primary-brand-800-dark);
    --color-interaction-primary-hover: var(--color-primary-brand-700-strongest);
    --color-interaction-primary-active: var(--color-primary-brand-800-dark);

    --color-font-primary: var(--color-black);
    --color-font-secondary: var(--color-gray);
    --color-font-highlight: var(--color-interaction-primary-default);
    --color-font-highlight-darker: var(--color-interaction-primary-hover);
    --color-font-highlight: var(--color-primary-brand-800-dark);
    --color-font-highlight-darker: var(--color-primary-brand-900-darker-silent);

    --base-line-height: 1.6;
    --font-weight-xlight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --width-min: #{base.$width-min + px};
    --width-max: #{base.$width-max + px};
    --width-full: 100%;

    @media (max-width: 1679px) {
        --width-max: 1260px;
    }

    @media (max-width: 1439px) {
        --width-max: 1060px;
    }

    @media (max-width: 1239px) {
        --width-max: 992px;
    }

    @media (max-width: 991px) {
        --width-max: 768px;
    }

    --gap-container: #{range.build(20, 30, px, 375, 768)};

    --header-height: #{range.build(80, 110, px, 1400)};

    @media (max-width: 1439px) {
        --header-height: 70px;
    }

    --radius: #{range.build(10, 20)};
    --radius-sm: #{range.build(4, 8)};
    --radius-md: #{range.build(12, 20)};

    --transition: all .15s linear;

    --scroll-thumb-clr: rgba(var(--color-primary-brand-800-dark-rgb), .5);
    --scroll-thumb-hover-clr: var(--color-primary-brand-800-dark);

    --line-gradient: linear-gradient(to right, var(--color-line) 0%, var(--color-primary-brand-700-strongest) 75%, var(--color-line) 100%);

    --field-size: 56px;
    --field-radius: 0;
    --field-fs: 16px;
    --field-px: 0;
    --field-bg-color: transparent;
    --field-border-color: var(--color-border);

    --icon-pulse-rings: url("data:image/svg+xml,%3Csvg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='black'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E%0A");
    --icon-corner-arrow: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.331017 9.07598e-06L8.38687 1.02772e-05C8.88122 9.93999e-06 9.28196 0.400757 9.28196 0.895104L9.28196 8.95095L7.49177 8.95095V3.05605L1.26643 9.28139L0.000580254 8.01553L6.22592 1.7902L0.331017 1.7902L0.331017 9.07598e-06Z'/%3E%3C/svg%3E%0A");
    --icon-bloquote: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.36 18.4L0 0H9.76L8.4 18.4H1.36ZM14.96 18.4L13.6 0H23.36L22 18.4H14.96Z'/%3E%3C/svg%3E%0A");
    --icon-check: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.642 6.42102L10.1678 0L12.67 1.97187L5.02099 10.86L0 6.65582L2.1345 4.32143L4.642 6.42102Z'/%3E%3C/svg%3E%0A");
    --icon-down-arrow: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5156 1.08599C11.5156 1.23075 11.487 1.37451 11.4307 1.50787C11.3753 1.63906 11.2938 1.75754 11.1924 1.85748L6.52637 6.52447C6.32322 6.72747 6.04697 6.84185 5.75977 6.84185C5.47257 6.84181 5.19726 6.72751 4.99414 6.52447L0.327149 1.85748L0.328126 1.8565C0.227823 1.7583 0.146595 1.64261 0.0908212 1.51373C0.0336646 1.38148 0.00344557 1.23883 0.00195403 1.09478C0.000487286 0.950662 0.0275535 0.807319 0.0820322 0.673882C0.136476 0.540615 0.216595 0.419252 0.31836 0.317437C0.420275 0.215522 0.542347 0.134609 0.675782 0.0801319C0.809016 0.0258137 0.951827 -0.00138473 1.0957 5.37621e-05C1.23979 0.00151971 1.38238 0.0317676 1.51465 0.088921C1.64688 0.14607 1.76643 0.229176 1.86621 0.333062L5.75977 4.22662L9.66016 0.326226C9.80972 0.174519 10.0014 0.0701623 10.21 0.0264213C10.4209 -0.0177809 10.6402 0.00197059 10.8398 0.083062C11.0395 0.164158 11.2107 0.302773 11.3311 0.481499C11.4513 0.660164 11.5155 0.870631 11.5156 1.08599Z'/%3E%3C/svg%3E%0A");
    --icon-download: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 0C9.152 0 8.66667 0.485333 8.66667 1.08333V9.75H4.33333L10.8333 16.25L17.3333 9.75H13V1.08333C13 0.485333 12.5147 0 11.9167 0H9.75ZM0 19.5V21.6667H21.6667V19.5H0Z'/%3E%3C/svg%3E%0A");
    --icon-info: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17V11' stroke='%23000000' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='1' cy='1' r='1' transform='matrix(1 0 0 -1 11 9)' fill='%23000000'/%3E%3Cpath d='M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7' stroke='%23000000' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");

    --icon-linkedin: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18901 5.79079H0.575479C0.415105 5.79079 0.285156 5.92079 0.285156 6.08111V17.6898C0.285156 17.8502 0.415105 17.9802 0.575479 17.9802H4.18901C4.34938 17.9802 4.47933 17.8502 4.47933 17.6898V6.08111C4.47933 5.92079 4.34938 5.79079 4.18901 5.79079Z'/%3E%3Cpath d='M2.38448 0.0198059C1.06966 0.0198059 0 1.08831 0 2.40167C0 3.71561 1.06966 4.78452 2.38448 4.78452C3.69825 4.78452 4.76704 3.71555 4.76704 2.40167C4.7671 1.08831 3.69825 0.0198059 2.38448 0.0198059Z'/%3E%3Cpath d='M13.3802 5.50226C11.9289 5.50226 10.856 6.12616 10.2053 6.83507V6.0811C10.2053 5.92079 10.0753 5.79078 9.91497 5.79078H6.45439C6.29401 5.79078 6.16406 5.92079 6.16406 6.0811V17.6898C6.16406 17.8502 6.29401 17.9801 6.45439 17.9801H10.06C10.2204 17.9801 10.3503 17.8502 10.3503 17.6898V11.9462C10.3503 10.0107 10.8761 9.25671 12.2252 9.25671C13.6946 9.25671 13.8114 10.4655 13.8114 12.0458V17.6899C13.8114 17.8503 13.9413 17.9802 14.1017 17.9802H17.7087C17.8691 17.9802 17.999 17.8503 17.999 17.6899V11.3223C17.999 8.44433 17.4502 5.50226 13.3802 5.50226Z'/%3E%3Cdefs%3E%3Crect width='18' height='18'/%3E%3C/defs%3E%3C/svg%3E%0A");
    --icon-instagram: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99966 17.9997C10.3253 18.0028 11.6538 17.9709 12.9837 17.8901C14.1037 17.8219 15.1663 17.451 16.0523 16.7285C16.9056 16.0327 17.4409 15.1006 17.7073 14.0565L17.7188 14.011C17.9555 13.055 17.9671 12.0958 17.979 11.2292L17.9827 10.9514C17.9911 10.3027 17.9978 9.65247 17.9993 9.00158V8.99826C17.9978 8.34739 17.9911 7.69714 17.9827 7.04851L17.979 6.77059C17.9669 5.8903 17.9551 4.91432 17.7073 3.94333C17.4409 2.89922 16.9056 1.96719 16.0523 1.27134C15.1663 0.54884 14.1038 0.177902 12.9837 0.109789C11.6538 0.0289097 10.3253 -0.00296974 8.99966 0.00012207C7.67393 -0.00296974 6.3455 0.0289097 5.01558 0.109789C3.89556 0.177902 2.83297 0.54884 1.947 1.27134C1.10703 1.95632 0.575191 2.87015 0.304639 3.89446L0.291945 3.94333C0.0441776 4.91432 0.0323466 5.89029 0.0203161 6.77059L0.0166082 7.04848C0.0081771 7.6971 0.00151548 8.34737 0 8.99829V9.00156C0.00173197 9.74546 0.0101794 10.4885 0.0203161 11.2292C0.0323466 12.1096 0.0441777 13.0855 0.291945 14.0565C0.558377 15.1006 1.09368 16.0327 1.947 16.7285C2.83297 17.451 3.89556 17.8219 5.01558 17.8901C6.3455 17.9709 7.67393 18.0028 8.99966 17.9997ZM9.0013 16.5935H8.99801C7.69629 16.5965 6.39727 16.5652 5.10094 16.4864C4.25386 16.4349 3.49212 16.163 2.86547 15.6627L2.83573 15.6387C2.25753 15.1672 1.86991 14.5252 1.6642 13.746L1.65454 13.7088C1.45456 12.9251 1.43882 12.115 1.42645 11.21V11.21C1.41634 10.471 1.40798 9.73418 1.40627 8.99829C1.40778 8.35546 1.41436 7.71194 1.42275 7.06686L1.42645 6.78986V6.78983C1.43882 5.88484 1.45456 5.07474 1.65454 4.29102C1.85766 3.49505 2.24835 2.84014 2.83573 2.36115L2.86547 2.33715C3.49212 1.83689 4.25386 1.56494 5.10094 1.51343C6.39727 1.43459 7.69629 1.40332 8.99801 1.40639H9.0013C10.303 1.40332 11.602 1.43459 12.8984 1.51343C13.7589 1.56576 14.5314 1.84558 15.1636 2.36115L15.191 2.38373C15.7631 2.86064 16.1448 3.50748 16.3447 4.291V4.29102C16.5447 5.07474 16.5605 5.88484 16.5729 6.78986L16.5766 7.06686C16.5849 7.7119 16.5915 8.35543 16.593 8.99826C16.5915 9.6422 16.585 10.2868 16.5766 10.933L16.5729 11.21C16.5605 12.115 16.5447 12.9251 16.3447 13.7088V13.7088C16.1448 14.4924 15.7631 15.1392 15.191 15.6161L15.1636 15.6387C14.5314 16.1543 13.7589 16.4341 12.8984 16.4864C11.602 16.5652 10.303 16.5965 9.0013 16.5935Z'/%3E%3Cpath d='M11.9531 8.99999C11.9531 10.6504 10.6152 11.9883 8.96485 11.9883C7.31447 11.9883 5.97658 10.6504 5.97658 8.99999C5.97658 7.34961 7.31447 6.01172 8.96485 6.01172C10.6152 6.01172 11.9531 7.34961 11.9531 8.99999ZM13.3594 8.99999C13.3594 6.57296 11.3919 4.60545 8.96485 4.60545C6.53782 4.60545 4.57031 6.57296 4.57031 8.99999C4.57031 11.427 6.53782 13.3945 8.96485 13.3945C11.3919 13.3945 13.3594 11.427 13.3594 8.99999Z'/%3E%3Cpath d='M14.9062 4.25391C14.9062 4.83638 14.434 5.30859 13.8516 5.30859C13.2691 5.30859 12.7969 4.83638 12.7969 4.25391C12.7969 3.67144 13.2691 3.19922 13.8516 3.19922C14.434 3.19922 14.9062 3.67144 14.9062 4.25391Z'/%3E%3C/svg%3E%0A");
    --icon-youtube: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6238 1.98C17.4168 1.20059 16.8068 0.586758 16.0327 0.378281C14.6289 6.70552e-08 9 0 9 0C9 0 3.37113 6.70552e-08 1.96734 0.378281C1.1932 0.586758 0.583242 1.20059 0.376172 1.98C0 3.39293 0 6.34078 0 6.34078C0 6.34078 0 9.28863 0.376172 10.7016C0.583242 11.481 1.1932 12.0948 1.96734 12.3033C3.37113 12.6816 9 12.6816 9 12.6816C9 12.6816 14.6289 12.6816 16.0327 12.3033C16.8068 12.0948 17.4168 11.481 17.6238 10.7016C18 9.28863 18 6.34078 18 6.34078C18 6.34078 18 3.39293 17.6238 1.98ZM7.15922 9.01723V3.66434L11.8635 6.34078L7.15922 9.01723Z'/%3E%3C/svg%3E%0A");
}