@use '../functions/range';

.file-download-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.file-download {
    display: flex;
    align-items: center;
    gap: range.build(20, 34);
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-primary-brand-900-darker-silent);
    border-width: 1px 0;
    font-size: range.build(16, 22, px, 1300);
    padding: 1.27em 1.36em 1.27em range.build(20, 44, px, 1300);
    color: var(--color-interaction-primary-default);
    transition: var(--transition);
    transition-property: color;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    line-height: 1.2;

    &:hover {
        color: var(--color-interaction-primary-hover);
    }

    &::after {
        display: block;
        content: '';
        width: 1em;
        aspect-ratio: 1;
        background: var(--color-interaction-primary-default);
        mask-image: var(--icon-download);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &-name {
        flex: 1 0 0;
    }

    &-size {
        font-size: range.build(14, 16);
    }
}
