@use '../functions/range';

.base-link {
    color: inherit;
    transition: var(--transition);
    text-decoration: underline;
    text-underline-offset: .25em;
    text-decoration-color: transparent;
    transition-property: color, text-decoration-color;

    &:hover {
        color: var(--color-interaction-primary-default);
        text-decoration-color: inherit;
    }
}

.arrow-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-semibold);
    font-size: range.build(18, 22);
    color: var(--color-interaction-primary-default);
    text-decoration: none;
    transition: var(--transition);
    transition-property: gap, opacity;

    &:hover {
        gap: 16px;
        opacity: 0.7;
    }

    svg {
        flex-shrink: 0;
    }
}

.primary-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    line-height: 1.2;
    transition: var(--transition);
    transition-property: color;
    vertical-align: middle;
    color: var(--color-interaction-primary-default);

    &::after {
        display: inline-block;
        content: '';
        width: 10px;
        aspect-ratio: 1;
        vertical-align: middle;
        background-color: var(--color-interaction-primary-default);
        mask-image: var(--icon-corner-arrow);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        margin-inline-start: -10px;
        translate: 20px 0;
        transition: var(--transition);
        transition-property: rotate, background-color;
    }

    &:hover {
        color: var(--color-interaction-primary-hover);

        &::after {
            background-color: var(--color-interaction-primary-hover);
            rotate: 45deg;
        }
    }
}