@use '../functions/range';

.home-hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    position: relative;
    padding: calc(var(--header-height) + 50px) 0 80px;
    color: var(--color-white);

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(var(--color-black-rgb), 0.75) 0%, rgba(var(--color-black-rgb), 0) 75%);

        @media (max-width: 991px) {
            background: rgba(var(--color-black-rgb), 0.5);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: auto;
        z-index: 5;
        gap: range.build(16, 30);
    }

    h1 {
        font-size: range.build(44, 68, px, 375, 992);
        color: var(--color-white);
        //font-weight: var(--font-weight-medium);
        text-transform: uppercase;
        letter-spacing: -0.01em;

        @media (min-width: 992px) {
            width: 14em;
            font-size: range.build(60, 84, px, 992);
        }
    }
}

.home-hero-logo {
    width: 80px;
}

.home-hero-description {
    flex: 1 0 0;

    h2,
    h3,
    h4,
    h4,
    h6 {
        line-height: 1.3;
    }

    h2 {
        color: var(--color-white);
        font-family: var(--font-primary);
        font-weight: var(--font-weight-xlight);
        font-size: range.build(18, 28);
        font-variation-settings: 'opsz' 6,
    'MONO' 1;
    }
}

.home-portfolio {
    background-color: var(--color-white);
    padding: range.build(40, 78) 0 range.build(30, 60);
}

.home-portfolio-container {
    display: flex;
    flex-direction: column;
    gap: range.build(40, 64);
}

.home-portfolio-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    font-size: range.build(16, 20);

    @media (min-width: 768px) {
        display: grid;
        align-items: flex-end;
        grid-template-columns: 12ch 1fr 12ch;
    }
}

.home-portfolio-subtitle {
    color: var(--color-gray);
}

.home-portfolio-title {
    text-align: center;
}

.home-portfolio-link {
    justify-self: flex-end;
    margin-top: .5em;

    @media (min-width: 768px) {
        margin-top: 0;
    }
}